<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <handlers>
      <add name="aspx" path="*.aspx" verb="*" 
           type="System.Web.UI.PageHandlerFactory"
           modules="AspNetCoreModule"
           resourceType="Unspecified"
           xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </handlers>
  </system.webServer>
</configuration>

<!-- dotnet build --runtime linux-x64
dotnet run -->