<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <handlers>
      <add name="aspx" path="*.aspx" verb="*" 
           type="System.Web.UI.PageHandlerFactory" 
           modules="IsapiModule" 
           scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
           xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </handlers>
  </system.webServer>
</configuration>