<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <handlers>
      <add name="aspx" path="*.aspx" verb="*" 
           type="System.Web.UI.PageHandlerFactory"
           modules="FastCgiModule"
           scriptProcessor="/usr/bin/mono-cgi"
           xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </handlers>
  </system.webServer>
  <system.web>
    <hostingEnvironment xdt:Transform="Insert">
      <processModel enable="true" />
    </hostingEnvironment>
  </system.web>
</configuration>

<!-- dotnet build --runtime linux-x64 /p:UseMono=true
# Execute com mono-fastcgi-server4 ou xsp4 -->